.grid-container{
	display:flex;
	width:100vw;
	height:100vh;
    justify-content:center;
	flex-wrap:wrap;
}
.grid-item1{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item2{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item3{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item4{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item5{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item6{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item7{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item8{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}
.grid-item9{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}